:root {
    --header-primary-color: #594878;
    --header-secondary-color: #3f7564;
    --header-text-color: #ddd;
    --header-background-color: #f9f9f9;
    --header-border-color: #ddd;
    --header-secondary-border-color: #8d77b6;

    --primary-color: #7449d0;
    --secondary-color: #3f7564;
    --button-color: #af7ab18f;
    --button-hover-color: #8d77b6;
    --text-color: #ffffff;
    --background-color: linear-gradient(135deg, #695076 0%, #594878 100%);
    --border-color: #ddd;

    --item-primary-color: #af7ab18f;
    
    --particle-color: #000000;
    --particle-opacity: 0.5;
}
